wget
nemo_toolkit[asr]==1.20.0
transformers>=4.26.1
faster-whisper==0.7.1
git+https://github.com/m-bain/whisperX.git@4cb167a225c0ebaea127fd6049abfaa3af9f8bb4
git+https://github.com/facebookresearch/demucs#egg=demucs
deepmultilingualpunctuation
